body {
    background: #263238;
}

#app {
    font-family: 'Avenir', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin-top: 60px;
}

.link, .link:hover, .link:visited, .link:active {
    color: #4FC08D;
}

.item-card {
    border: 2px solid #4FC08D;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}
